@model IEnumerable<VMS.Model.Region>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInsert)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInsert)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegionID })
        </td>
    </tr>
}

</table>
